<section class="d-flex py">
    <article class="container d-flex align-ceter">
        <div class="img-wrapper col-6 d-flex align-ceter">
            <img alt="fruit" src="./assets/img/fruit.png">
        </div>
        <div class="content d-flex flex-column col-6 py pll justify-center">
            <div class="d-flex space-between py">
                <h4 class="red">Trending</h4>
                <div class="icons">
                    <img alt="love" src="./assets/img/svg/like.svg">
                    <img alt="logo1" src="./assets/img/svg/upload.svg">
                    <img alt="logo2" src="./assets/img/svg/tag.svg">
                </div>
            </div>
            
            <h2 class="py">Cake meme reflect coronavirus absurdity in a world where nothing is what it seems</h2>
            <p class="py">Earlier this month, a viral video depicting hyper-realistic cakes as everyday items had folks on social media double-guessing every other post, and sometimes even their own realities, effectively launching the next meme : “Is this real or is this cake?”</p>
            <p class="py">2 hours ago  By Lucy Hiddleston  |  4min read</p>
        </div>
    </article>
</section>