<header id="header" class="d-flex justify-center align-center">
    <div class="container d-flex space-between align-center">
        <img alt="nbc-logo" class="logo" src="./assets/img/nbclogo.png">
        <nav class="d-flex flex-grow justify-center">
            <ul class="d-flex ul list-unstyle flex-grow space-around align-center">
                <li class="active">Coronal Updates</li>
                <li>Politics</li>
                <li>Business</li>
                <li>Sports</li>
                <li>Traveel</li>
                <li>Podcasts</li>
                <img alt="more" class="header-icon" src="./assets/img/svg/more.svg">
            </ul>
        </nav>
        <div class="icon-group">
            <img alt="logo" class="header-icon" src="./assets/img/svg/profile.svg">
            <img alt="search" class="header-icon" src="./assets/img/svg/search.svg">
            <img alt="toggle" class="header-icon" src="./assets/img/svg/menu.svg">
        </div>
    </div>
</header>
