
<section class="container">

<div>
    <div>
        <p color="#2A2A2A"> Editor's Picks <span><img src="./assets/img/svg/favourite.svg" alt="favourite"></span><br><br></p>
    </div>
    <main class="d-flex">
        <div class="d-flex">
            <img src="./assets/img/image 51.png" alt="image">
            <div class="px d-flex.flex-column space-around">
                <h3 class="font-sm">Serological surveys are being conducted to test for coronavirus antibodies. How useful are they?</h3>
            <br><b></b>
            <p class="font-sm">The authorities are hoping to find that a substantial proportion of the population has already been infected with the virus – and so is immune.</p>
            </div>
        </div>
        <div class=" d-flex">
            <img src="./assets/img/image 52.png" alt="image">
            <div class="px d-flex.flex-column space-around">
                    <h3 class="font-sm">Making a mark in Asia: East Bengal’s 2003 Asean Cup win – a defining moment for Indian club football</h3>
                <br><b></b>
                <p class="font-sm">Beating some of the finest teams from South Asia, East Bengal became the first Indian club to win an officially recognised Asian football tournament.</p>

            </div>
        </div>
    </main>
</div>
</section>
