
    <div class="container d-flex px pyl" >
        <div class="articles">
            <app-slide></app-slide>
        </div>
        <div class="pll aside">
            <p class="py d-flex align-center"> 
                <span class="red pr font-bd">Live</span>
                <img class="ripple" src="./assets/img/svg/live.svg" alt="Live">
            </p>
            <div class="pt">
                <img src="./assets/img/svg/image.svg" alt="image">
                <span class="bold">Beloved Arizona coach loses battle with coronavirus</span>
            </div>
            <!-- <div>
                <p class="py"><span>Location News</span></p>
                <div class="location">
                    <p>Get location specific news</p>
                    <input type="text" name="location" id="location" placeholder=""Enter your location>
                    <button>Submit</button>
                </div>

            </div> -->
        </div>
    </div>

