.ripple {
    width: 1.5rem;
}
.articles {
    flex: 1 1 66%;
}
.aside {
    flex: 1 1 33%;
}
.aside p, .aside div {
    width: 100%;
}
.aside img {
    max-width: 100%;
}

.location {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 4rem 4rem;
}

.location label {
    margin-bottom: 2rem;
}

.location input {
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
}

.location button {
    padding: 0 1rem;
    padding: 0.5rem 1rem;
    background-color:#C31815;
    border: 1px solid #C31815;
    color: #fff;
   

}
