
    <footer class="px py d-flex footer" >
    
        <div class="d-flex flex-column">
            <img class="nbc" src="./assets/img/svg/image 53.svg" alt="image">
            <span>copyright &copy; 2020 | NBC NEWS</span>
        </div>
        <div>
            <p> Privacy Policy <br>
                Do not sell my personal info <br>
                Terms of Service <br>
                nbcnews.com Site Map </p>
        </div>
        <div class="px py d-flex flex-column">
            <div class="px py d-flex">
                <p>About</p>
                <p>Contact</p>
                <p>Careers</p>
                <p>Coupons</p>
            </div>
            <div class="px py">
                <img class=" py icon ml" src="./assets/img/svg/connection.svg " alt="connection">
                <img class=" py icon ml" src="./assets/img/svg/Group 258.svg " alt="image">
                <img class=" py icon ml" src="./assets/img/svg/icon.svg" alt="icon">
                <img class=" py icon ml" src="./assets/img/svg/facebook.svg " alt="facebookicon">
            </div>
        </div>
    </footer>
    