
.footer{
    background-color: #0E1E32;
    color: #fff;
    justify-content: space-between;
    margin-top: 3rem;
    align-items: center;
    font-size: 0.7rem;
    
}

.footer .ml {
    margin-left: 10px;
}

.nbc{
    height: 1.5rem;
    margin-bottom: 1rem;
}

